body {
  margin: 0; }

.sidekick {
  width: 20%;
  height: 100vh;
  background-color: black;
  position: fixed; }

.leftpull {
  float: left; }

.rightpull {
  float: right; }

.mail {
  margin-left: 20%;
  width: 80%;
  float: right; }

.mail-header {
  margin-bottom: 100px;
  margin-top: 30px; }

.circle {
  border-radius: 70%;
  padding: 4px 7px;
  border: 1px solid #bbbaba; }

.mail-header-content {
  width: 80%;
  margin: auto;
  border-bottom: 1px solid #bbbaba; }
  .mail-header-content .first-layer {
    margin-top: 15px; }
    .mail-header-content .first-layer:after {
      content: "";
      display: block;
      clear: both; }
  .mail-header-content h1 {
    float: left;
    margin: 0 0 0 54px; }
  .mail-header-content input {
    float: right;
    width: 30%; }
  .mail-header-content .glyphicon {
    color: #bbbaba; }
  .mail-header-content .second-layer {
    color: #bbbaba;
    margin-top: 50px; }
    .mail-header-content .second-layer:after {
      content: "";
      display: block;
      clear: both; }
    .mail-header-content .second-layer ul:first-child {
      list-style: none; }
      .mail-header-content .second-layer ul:first-child li {
        float: left;
        padding-left: 10px; }
    .mail-header-content .second-layer ul:nth-child(2) {
      list-style: none;
      float: right; }
      .mail-header-content .second-layer ul:nth-child(2) li {
        float: left;
        padding-right: 10px; }
