body {
    margin: 0px;
    color: #767373;
}
.sidekick {
    width: 18%;
    height: 100vh;
    background-color: black;
    position: fixed;
}
.burger-nav {
    display: none;
}
.leftpull {
    float: left;
}
.rightpull {
    float: right;
}
.mail {
    margin-left: 19%;
    width: 82%;
    float: right;
}
.mail-header {
    margin-bottom: 30px;
    margin-top: 30px;
}
.circle {
    border-radius: 70%;
    padding: 4px 7px;
    border: 1px solid #bbbaba;
}
.mail-header-content {
    width: 80%;
    margin: auto;
    border-bottom: 1px solid #bbbaba;
    .first-layer {
        &:after {
            content: "";
            display: block;
            clear: both;
        }
        margin-top:15px;
    }
    h1 {
        float: left;
        margin: 0 0 0 54px;
        color: black;
    }
    input {
        float: right;
        width: 30%;
    }
    .glyphicon {
        color: #bbbaba;
    }
    .second-layer {
        color: #bbbaba;
        margin-top: 50px;
        &:after {
            content: "";
            display: block;
            clear: both;
        }
        ul:first-child {
            list-style: none;
            li {
                float: left;
                padding-left: 10px;
            }
        }
        ul:nth-child(2) {
            list-style: none;
            float: right;
            margin-bottom: 0px;
            li {
                float: left;
                padding-right: 10px;
                padding-bottom: 19px;
                &:hover {
                    color: black;
                    border-bottom: 1px solid black;
                }
            }
        }
    }
}
.compose {
    background-color: #bf0606;
    /* Green */
    border: none;
    color: white;
    padding: 10px 41px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
    margin: 50px 0 0 40px;
}
.sidekick {
    .circle {
        margin-right: 20px;
        margin-left: 20px !important;
        padding: 2px 4px;
    }
    .num-of-emails {
        float: right;
        margin-right: 30px;
        margin-top: -2px;
        padding: 2px 7px;
        font-size: 12px;
    }
    ul {
        list-style: none;
        padding: 0;
        margin-top: 15px;
        padding-bottom: 20px;
        border-bottom: 1px solid;
    }
    .category {
        padding: 10px 15px;
        &:hover {
            background-color: white;
            .num-of-emails {
                background-color: #bf0606;
                color: white;
            }
        }
    }
}
.mail-content {
    max-height: 500px;
    overflow-y: scroll;
    width: 90%;
    margin: auto;
    .single-mail {
        img {
            border-radius: 50%;
            width: 4%;
            margin-left: 8%;
        }
        div {
            display: inline-block;
            margin-left: 29%;
        }
        .person-name {
            margin-left: 1%;
            min-width: 10%;
        }
        .random-pic {
            margin-left: 8%;
        }
        .mail-subject {
            margin-left: 15%;
            max-width: 15%;
            min-width: 15%;
            overflow-x: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
        }
        &:after {
            content: " ";
            display: block;
            background: #e0d7d7;
            height: 25px;
            width: 0.2%;
            margin-left: 10%;
            margin-top: 2px;
        }
    }
}
.mail-content::-webkit-scrollbar {
    width: 5px;
}
.mail-content::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}
.mail-content::-webkit-scrollbar-thumb {
    background-color: darkgrey;
    outline: 1px solid #b0b7be;
}
@media (max-width: 500px) {
    .burger-nav {
        display: block;
        width: 10%;
        height: 40px;
        background: url(https://i.imgur.com/vKRaKDX.png) 98% center no-repeat;
        background-color: white;
        cursor: pointer;
        background-size: contain;
        float: right;
    }
    .sidekick {
        display: none;
    }
    .mail {
        margin-left: 10;
        width: 100%;
    }
    .mail-content {
        .single-mail {
            padding-bottom: 5%;
            border-bottom: 1px solid;
            padding-top: 5%;
            img {
                border-radius: 50%;
                width: 20%;
                float: left;
            }
            div {
                display: inline-block;
                margin-left: 10%;
            }
            .person-name {
                margin-left: 38%;
                display: block;
            }
            .random-pic {
                margin-left: 0;
            }
            .mail-subject {
                margin-left: 10%;
                min-width: 50%;
            }
            &:after {
                content: "";
                display: none;
            }
        }
    }
    .mail-header-content {
        width: 80%;
        margin: auto;
        border-bottom: 1px solid #bbbaba;
        h1 {
            float: none;
            margin: auto;
        }
        input {
            width: 100%;
        }
        .second-layer {
            margin-top: 10px;
            &:after {
                content: "";
                display: block;
                clear: both;
            }
            ul:first-child {
                padding-left: 0;
                margin-left: 20%;
            }
            ul:nth-child(2) {
                list-style: none;
                float: left;
                padding-left: 10px;
                margin-left: 20%;
            }
        }
    }
}
@media only screen and (min-width: 501px) and (max-width: 768px) {
    .sidekick {
        width: 30%;
    }
    .mail {
        margin-left: 30%;
        width: 70%;
        float: right;
    }
    .mail-content {
        max-height: 500px;
        overflow-y: scroll;
        width: 90%;
        margin: auto;
        .single-mail {
            div {
                display: inline-block;
                margin-left: 9%;
            }
            .person-name {
                margin-left: 1%;
                min-width: 25%;
            }
            .random-pic {
                margin-left: 8%;
            }
            .mail-subject {
                margin-left: 7%;
            }
        }
    }
}
@media only screen and (min-width: 785px) and (max-width: 1024px) {
    .sidekick {
        width: 20%;
    }
    .mail {
        margin-left: 20%;
        width: 80%;
        float: right;
    }
    .person-name {
        min-width: 13%;
    }
}
